<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778578943454-ue60bmv03da8hachh3lfjbjte0sn880l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778578943454-ue60bmv03da8hachh3lfjbjte0sn880l</string>
	<key>API_KEY</key>
	<string>AIzaSyB2VaAHRNebePtDxUpaSei4lkVfvpjTfcU</string>
	<key>GCM_SENDER_ID</key>
	<string>778578943454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MaxTay.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ba373</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ba373.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778578943454:ios:720882d01a02451987914f</string>
</dict>
</plist>